body {
    background: black;

}
.text {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.block{
    position: fixed;
    right: 50px;
    height: 100px;
}
.rectangle {
    left: 50%;
    bottom: 100px;
    border-radius: 10px;
    width: 600px;
    min-width: 100px;
    background: #fff;
}

.circle{
    left: 55%;
    bottom: 150px;
    width: 100px;
    border-radius: 50%;
    background: red;
}
